{% extends "base.html" %}

{% block content%}
    <body>
        <header>
            <nav class="navbar bg-light">
                <div class="container-fluid">
                  <a class="navbar-brand">Our Rooms</a>
                  <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                  </form>
                </div>
              </nav>
        </header>
        
        <main>

            <div class = "row"> 
                {% for rooms in rooms %}
                    <div class="col"> 
                        <div class="card" style="width: 18rem;">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                            <h5 class="card-title">Room {{rooms.room_number}}</h5>
                            <p class="card-text">{{rooms.room_description}}</p>
                            <p class="card-text">Php {{rooms.room_amount}}</p>
                            <a href="#" class="btn btn-primary">Book Now</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>          
           
        </main>
        
    </body>
{% endblock  %} 

{% comment %} <p>header here</p>

<form action="" method="post" style="background-color: whitesmoke;">
    {% csrf_token %}
    {{form}}

    <input type="button" value="Save">

</form> {% endcomment %}
